<nav class="global-nav">
  <div class="nav-container">
    <a href="/" class="nav-logo">
      <span class="nav-logo-mark">
        <svg viewBox="0 0 24 24"><path d="M8 5v14l11-7z"/></svg>
      </span>
      StreamBox
    </a>
    <div class="nav-links">
      <a href="/" class="nav-link">Movies</a>
      <a href="/youtube" class="nav-link">YouTube</a>
    </div>
  </div>
</nav>
